<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
</head>
<body>

<h2>Registration Page</h2>

<form method="post">
    {% csrf_token %}

    <p>
        {{ form.full_name.label }} <br>
        {{ form.full_name }} <br>
        {{ form.full_name.errors }}
    </p>

    <p>
        {{ form.email.label }} <br>
        {{ form.email }} <br>
        {{ form.email.errors }}
    </p>

    <p>
        {{ form.password.label }} <br>
        {{ form.password }} <br>
        {{ form.password.errors }}
    </p>

    <button type="submit">Register</button>
</form>

<h3 style="color: green;">{{ message }}</h3>

</body>
</html>
